ul {
	display: block;
	list-style-type: none;
	margin-block: 0;
	margin-inline: 0;
	padding-inline: 0;
}

.post-card {
	border-width: 1px;
	border-style: solid;
	margin: 3px auto 3px auto;
	padding: 3px 9px 3px 9px;
}

.byline {
	font-size: smaller;
}

.post {
	padding-left: 9px;
}

.metadata {
	font-size: smaller;
}