<h1>Register:</h1>

<p style="color:red">{{ message }}</p>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Username:
      <input type="text" formControlName="username">
    </label>
  </div>
  
  <div>
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
  </div>
 
  <div>
    <label>
      First Name:
      <input type="text" formControlName="firstname">
    </label>
  </div>

  <div>
    <label>
      Last Name:
      <input type="text" formControlName="lastname">
    </label>
  </div>
  
  <div>
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>
  </div>

  <button type="submit" [disabled]="!registrationForm.valid">Sign Up</button>
</form>